<?xml version="1.0"?>
<!--
/**
 * Aydus_BannerUploader config
 *
 * @category   Aydus
 * @package    Aydus_BannerUploader
 * @author     Aydus <davidt@aydus.com>
 */
-->
<config>
    <modules>
        <Aydus_BannerUploader>
            <version>1.0.0</version>
        </Aydus_BannerUploader>
    </modules>
    <phpunit>
        <suite>
            <modules>
                <Aydus_BannerUploader />
            </modules>
        </suite>
    </phpunit>  
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <banneruploader before="Mage_Adminhtml">Aydus_BannerUploader_Adminhtml</banneruploader>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>    
    <adminhtml>  
    	<events>
            <cms_wysiwyg_config_prepare>
                <observers>
                    <aydus_banneruploader>
                        <class>aydus_banneruploader/observer</class>
                        <method>prepareWysiwygPluginConfig</method>
                    </aydus_banneruploader>
                </observers>
            </cms_wysiwyg_config_prepare>    
            <adminhtml_block_html_before>
                <observers>
                    <aydus_banneruploader>
                        <class>aydus_banneruploader/observer</class>
                        <method>addTemplateFields</method>
                    </aydus_banneruploader>
                </observers>
            </adminhtml_block_html_before>    
            <enterprise_banner_save_after>
                <observers>
                    <aydus_banneruploader>
                        <class>aydus_banneruploader/observer</class>
                        <method>saveTemplate</method>
                    </aydus_banneruploader>
                </observers>
            </enterprise_banner_save_after>                         		
    	</events>
        <layout>
            <updates>
                <aydus_banneruploader>
                    <file>aydus/banneruploader.xml</file>
                </aydus_banneruploader>
            </updates>
        </layout>     	
    </adminhtml>    
    <global> 
        <blocks>
            <aydus_banneruploader>
                <class>Aydus_BannerUploader_Block</class>
            </aydus_banneruploader>       
        </blocks>             
        <helpers>
            <aydus_banneruploader>
                <class>Aydus_BannerUploader_Helper</class>
            </aydus_banneruploader>        
            <banneruploader>
                <class>Aydus_BannerUploader_Helper</class>
            </banneruploader>        
        </helpers>          
        <models>
            <aydus_banneruploader>
                <class>Aydus_BannerUploader_Model</class>
                <resourceModel>aydus_banneruploader_resource</resourceModel>
            </aydus_banneruploader> 
            <aydus_banneruploader_resource>
                <class>Aydus_BannerUploader_Model_Resource</class>
                <entities>
                    <template>
                        <table>aydus_banneruploader_template</table>
                    </template>
                </entities>
            </aydus_banneruploader_resource>
        </models> 
		<resources>
			<aydus_banneruploader_setup>
				<setup>
					<module>Aydus_BannerUploader</module>
					<class>Mage_Core_Model_Resource_Setup</class>
				</setup>
			</aydus_banneruploader_setup>
			<connection>
				<use>core_setup</use>
			</connection>
		</resources>                 
    </global>         
</config>